################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SharePointContentOverview/v15
/obj/Debug
/bin/Debug
/packages
